<html>
  <head>
    <title>Trouve un potin</title>
  </head>
  <body>
    <h1>Trouve un potin !</h1>
    <p>Trouve ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/id/' method='POST'>
      Saisi ici le numéro de ton gossip [0-6] :  <input type='integer' name='id'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>